<h1>New <%= @operation %></h1>

<form action = <%= @calculation %>>
  <label for='num1'><%= @op1 %> this:</label>
  <input type='text' id = 'num1' name = 'num1' placeholder = '20'>

  <label for='num2'><%= @op2 %> this:</label>
  <input type='text' id = 'num2' name = 'num2' placeholder = '10'>

  <button><%= @op1 %>!</button>


</form>